<div class="list-of-products-container">
  <div class="product-container" color="primary">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container" color="primary">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container" color="primary">
    <div class="product-name">Name: P001</div>
  </div>
  <div class="product-container">
    <div class="product-name">Name: P001</div>
  </div>
</div>
